* {
    background-color: rgb(253, 251, 251);
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
#minha_foto {
    max-width: 500px;
    margin: 100px;
}

.subtitulo {
    font-size: 35px;
    color: purple;
}
.texto {
    line-height: 25px;;
}